TR_n8n_bloco4.json
{
    "name": "TR_Bloco4_Secao6_Gestao_Fiscalizacao",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "gerar-tr-bloco4",
                "responseMode": "responseNode"
            },
            "id": "webhook",
            "name": "Webhook_Bloco4",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "webhookId": "gerar-tr-bloco4"
        },
        {
            "parameters": {
                "jsCode": "const b = $input.first().json.body || $input.first().json || {};\nreturn [{ json: {\n  respostas_usuario: b.content || '',\n  etp: b.etp_content || '',\n  matriz_risco: b.matriz_riscos || '',\n  object_nature: b.object_nature || 'Aquisição de Bens',\n  process_id: b.process_id || 'N/A'\n}}];"
            },
            "id": "normalizar",
            "name": "Normalizar_Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ 'Você é redator técnico especialista em contratações públicas (Lei 14.133/2021).\\nRedija a Seção 6 – MODELO DE GESTÃO E FISCALIZAÇÃO DO CONTRATO conforme a minuta AGU.\\n\\n=== CONTEXTO BASE ===\\nNATUREZA DO OBJETO: ' + $json.object_nature + '\\n\\nETP (Estudo Técnico Preliminar) — BASE PRINCIPAL DO TR:\\n' + ($json.etp || 'Não fornecido.') + '\\n\\nMATRIZ DE RISCOS — USE PARA EMBASAR AS SANÇÕES E RESPONSABILIDADES:\\n' + ($json.matriz_risco || 'Não fornecida.') + '\\n\\nRESPOSTAS DO USUÁRIO:\\n' + ($json.respostas_usuario || '') + '\\n\\n⚠️ Use a Matriz de Riscos para identificar os principais riscos e refletir isso nas atribuições do fiscal e nas sanções.\\n\\n=== SEÇÃO 6 – MODELO DE GESTÃO E FISCALIZAÇÃO DO CONTRATO ===\\n\\n6.1. O contrato deverá ser executado fielmente pelas partes, de acordo com as cláusulas avençadas e as normas da Lei nº 14.133, de 2021.\\n\\n6.2. Em caso de eventual descumprimento contratual, previamente à aplicação de sanções serão adotadas as medidas previstas na legislação aplicável.\\n\\n6.3. A fiscalização do contrato ficará a cargo de servidor designado pela Administração, que terá as seguintes atribuições:\\na) Verificar a conformidade dos bens entregues com as especificações técnicas contratadas;\\nb) Registrar as ocorrências verificadas durante a execução do contrato;\\nc) Comunicar à autoridade competente as situações que exijam providências;\\nd) [Atribuição adicional extraída da Matriz de Riscos, se aplicável].\\n\\n6.4. As atividades de gestão e fiscalização do contrato devem ser realizadas de forma preventiva, rotineira e sistemática, podendo ser exercidas por servidores, equipe de fiscalização ou único servidor.\\n\\n6.5. O fiscal técnico do contrato comunicará ao gestor do contrato, em tempo hábil, o término do contrato sob sua responsabilidade, com vistas à renovação tempestiva ou à prorrogação contratual.\\n\\n6.6. INFRAÇÕES E SANÇÕES ADMINISTRATIVAS\\n6.6.1. Comete infração administrativa, nos termos da Lei nº 14.133, de 2021, o contratado que:\\na) Der causa à inexecução parcial do contrato;\\nb) Der causa à inexecução total do contrato;\\nc) Deixar de entregar a documentação exigida;\\nd) Não manter a proposta, salvo em decorrência de fato superveniente justificado;\\ne) Comportar-se de modo inidôneo ou cometer fraude de qualquer natureza.\\n\\n6.6.2. Serão aplicadas as seguintes sanções:\\na) Advertência, quando o contratado der causa à inexecução parcial que não resulte em prejuízo à Administração;\\nb) Impedimento de licitar e contratar, quando praticadas as condutas das alíneas b a e;\\nc) Declaração de inidoneidade para licitar ou contratar;\\nd) Multa moratória de 0,5% por dia de atraso, limitada a 10% do valor do contrato;\\ne) Multa compensatória de 10% sobre o valor total do contrato.\\n\\n=== INSTRUÇÕES FINAIS ===\\n1. Items 6.1, 6.2, 6.4, 6.5 e 6.6 são FIXOS — mantenha exatamente.\\n2. Em 6.3.d, adicione atribuição específica baseada na Matriz de Riscos, se fornecida.\\n3. Retorne SOMENTE o texto final da Seção 6 em Markdown. Sem explicações.' }}"
            },
            "id": "agente",
            "name": "Agente_Bloco4_Gestao",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const outputRaw = $input.first().json?.output || '{}';\nlet texto = '';\n\ntry {\n  if (typeof outputRaw === 'object' && outputRaw !== null) {\n    texto = outputRaw.action_input?.text || outputRaw.output || JSON.stringify(outputRaw);\n  } else {\n    let clean = outputRaw.replace(/```markdown/g, '').replace(/```/g, '').trim();\n    try {\n      const parsed = JSON.parse(clean);\n      texto = parsed.action_input ? (parsed.action_input.text || parsed.action_input) : (parsed.output || clean);\n    } catch (e) {\n      texto = clean;\n    }\n  }\n} catch (e) { texto = outputRaw; }\n\nreturn [{ json: { sucesso: true, bloco: 4, texto_formatado: texto } }];"
            },
            "id": "consolida",
            "name": "Consolida_Bloco4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}"
            },
            "id": "responder",
            "name": "Responder_Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                880,
                300
            ]
        }
    ],
    "connections": {
        "Webhook_Bloco4": {
            "main": [
                [
                    {
                        "node": "Normalizar_Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar_Dados": {
            "main": [
                [
                    {
                        "node": "Agente_Bloco4_Gestao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente_Bloco4_Gestao": {
            "main": [
                [
                    {
                        "node": "Consolida_Bloco4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consolida_Bloco4": {
            "main": [
                [
                    {
                        "node": "Responder_Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}