docs/name.txt
{  "name": "Gerador_TR_Blocos_AGU_Anthropic_Definitivo",  "nodes": [    {      "parameters": {        "httpMethod": "POST",        "path": "gerar-tr",        "responseMode": "lastNode"      },      "id": "Webhook",      "name": "Webhook_Gerar_TR",      "type": "n8n-nodes-base.webhook",      "typeVersion": 1,      "position": [200, 300]    },    {      "parameters": {        "keepOnlySet": true,        "values": {          "string": [            { "name": "respostas_usuario", "value": "={{$json[\"respostas_usuario\"]}}" },            { "name": "etp", "value": "={{$json[\"etp\"]}}" },            { "name": "pesquisa_precos", "value": "={{$json[\"pesquisa_precos\"]}}" },            { "name": "matriz_risco", "value": "={{$json[\"matriz_risco\"]}}" },            { "name": "dados_planejamento", "value": "={{$json[\"dados_planejamento\"]}}" }          ]        }      },      "id": "Normalizar",      "name": "Normalizar_Dados",      "type": "n8n-nodes-base.set",      "typeVersion": 2,      "position": [400, 300]    },    {      "parameters": {        "model": "claude-3-5-sonnet-20241022",        "temperature": 0.1,        "messages": [          {            "role": "system",            "content": "VocÉ Ä especialista em licitaŹøes e contratos administrativos, com atuaŹŗo conforme a Lei n╝ 14.133/2021, minutas padronizadas da AGU e orientaŹøes da SEGES. Atue com rigor tÄcnico e nŗo inclua informaŹøes nŗo fornecidas."          },          {            "role": "user",            "content": "Organize as informaŹøes recebidas exclusivamente nos seguintes blocos da minuta padrŗo AGU: BLOCO 1 ą CondiŹøes Gerais e FundamentaŹŗo; BLOCO 2 ą Requisitos e SeleŹŗo do Fornecedor; BLOCO 3 ą ExecuŹŗo e Gestŗo Contratual. Nŗo redija texto final. Nŗo inclua informaŹøes nŗo fornecidas. Retorne apenas JSON vćlido no formato {\"bloco1\": {...}, \"bloco2\": {...}, \"bloco3\": {...}}."          }        ]      },      "id": "Estruturador",      "name": "A1_Estruturador",      "type": "n8n-nodes-base.anthropic",      "typeVersion": 1,      "position": [600, 300],      "credentials": {        "anthropicApi": {          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",          "name": "Anthropic_API"        }      }    },    {      "parameters": {        "keepOnlySet": true,        "values": {          "string": [            { "name": "bloco1", "value": "={{$json[\"bloco1\"]}}" },            { "name": "bloco2", "value": "={{$json[\"bloco2\"]}}" },            { "name": "bloco3", "value": "={{$json[\"bloco3\"]}}" }          ]        }      },      "id": "Separar",      "name": "Separar_Blocos",      "type": "n8n-nodes-base.set",      "typeVersion": 2,      "position": [800, 300]    },    {      "parameters": {        "model": "claude-3-5-sonnet-20241022",        "temperature": 0.1,        "messages": [          {            "role": "system",            "content": "VocÉ Ä especialista em licitaŹøes conforme a Lei n╝ 14.133/2021. ā vedado criar qualquer informaŹŗo nŗo fornecida."          },          {            "role": "user",            "content": "Redija o BLOCO 1 utilizando exclusivamente as informaŹøes fornecidas. ā proibido criar requisitos, prazos, percentuais ou clćusulas nŗo informadas. Caso falte informaŹŗo, inserir: [INFORMAé╠O N╠O FORNECIDA NO FORMULńRIO]. Entregue apenas o texto final."          }        ]      },      "id": "Redator1",      "name": "A2A_Bloco1",      "type": "n8n-nodes-base.anthropic",      "typeVersion": 1,      "position": [1000, 150],      "credentials": {        "anthropicApi": {          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",          "name": "Anthropic_API"        }      }    },    {      "parameters": {        "keepOnlySet": true,        "values": {          "string": [            { "name": "bloco1_texto", "value": "={{$json[\"content\"][0][\"text\"]}}" }          ]        }      },      "id": "SetBloco1",      "name": "Set_Bloco1",      "type": "n8n-nodes-base.set",      "typeVersion": 2,      "position": [1200, 150]    },    {      "parameters": {        "model": "claude-3-5-sonnet-20241022",        "temperature": 0.1,        "messages": [          {            "role": "system",            "content": "VocÉ Ä especialista em licitaŹøes conforme a Lei n╝ 14.133/2021. ā vedado criar qualquer informaŹŗo nŗo fornecida."          },          {            "role": "user",            "content": "Redija o BLOCO 2 utilizando exclusivamente as informaŹøes fornecidas. ā proibido criar exigÉncias tÄcnicas, sanŹøes, percentuais ou prazos nŗo informados. Caso falte informaŹŗo, inserir: [INFORMAé╠O N╠O FORNECIDA NO FORMULńRIO]. Entregue apenas o texto final."          }        ]      },      "id": "Redator2",      "name": "A2B_Bloco2",      "type": "n8n-nodes-base.anthropic",      "typeVersion": 1,      "position": [1000, 300],      "credentials": {        "anthropicApi": {          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",          "name": "Anthropic_API"        }      }    },    {      "parameters": {        "keepOnlySet": true,        "values": {          "string": [            { "name": "bloco2_texto", "value": "={{$json[\"content\"][0][\"text\"]}}" }          ]        }      },      "id": "SetBloco2",      "name": "Set_Bloco2",      "type": "n8n-nodes-base.set",      "typeVersion": 2,      "position": [1200, 300]    },    {      "parameters": {        "model": "claude-3-5-sonnet-20241022",        "temperature": 0.1,        "messages": [          {            "role": "system",            "content": "VocÉ Ä especialista em licitaŹøes conforme a Lei n╝ 14.133/2021. ā vedado criar qualquer informaŹŗo nŗo fornecida."          },          {            "role": "user",            "content": "Redija o BLOCO 3 utilizando exclusivamente as informaŹøes fornecidas. ā proibido criar clćusulas, multas ou sanŹøes nŗo informadas. Caso falte informaŹŗo, inserir: [INFORMAé╠O N╠O FORNECIDA NO FORMULńRIO]. Entregue apenas o texto final."          }        ]      },      "id": "Redator3",      "name": "A2C_Bloco3",      "type": "n8n-nodes-base.anthropic",      "typeVersion": 1,      "position": [1000, 450],      "credentials": {        "anthropicApi": {          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",          "name": "Anthropic_API"        }      }    },    {      "parameters": { "mode": "mergeByPosition" },      "id": "Merge",      "name": "Merge_By_Position",      "type": "n8n-nodes-base.merge",      "typeVersion": 2,      "position": [1400, 300]    },    {      "parameters": {        "keepOnlySet": true,        "values": {          "string": [            {              "name": "tr_final",              "value": "={{$json[\"bloco1_texto\"] + \"\\n\\n\" + $json[\"bloco2_texto\"] + \"\\n\\n\" + $json[\"bloco3_texto\"]}}"            }          ]        }      },      "id": "Consolidar",      "name": "Consolidar_TR_Final",      "type": "n8n-nodes-base.set",      "typeVersion": 2,      "position": [1600, 300]    },    {      "parameters": { "responseData": "={{$json}}" },      "id": "Responder",      "name": "Responder_Webhook",      "type": "n8n-nodes-base.respondToWebhook",      "typeVersion": 1,      "position": [1800, 300]    }  ],  "connections": {    "Webhook_Gerar_TR": { "main": [[{ "node": "Normalizar_Dados", "type": "main", "index": 0 }]] },    "Normalizar_Dados": { "main": [[{ "node": "A1_Estruturador", "type": "main", "index": 0 }]] },    "A1_Estruturador": { "main": [[{ "node": "Separar_Blocos", "type": "main", "index": 0 }]] },    "Separar_Blocos": {      "main": [        [{ "node": "A2A_Bloco1", "type": "main", "index": 0 }],        [{ "node": "A2B_Bloco2", "type": "main", "index": 0 }],        [{ "node": "A2C_Bloco3", "type": "main", "index": 0 }]      ]    },    "A2A_Bloco1": { "main": [[{ "node": "Set_Bloco1", "type": "main", "index": 0 }]] },    "A2B_Bloco2": { "main": [[{ "node": "Set_Bloco2", "type": "main", "index": 0 }]] },    "A2C_Bloco3": { "main": [[{ "node": "Merge_By_Position", "type": "main", "index": 2 }]] },    "Set_Bloco1": { "main": [[{ "node": "Merge_By_Position", "type": "main", "index": 0 }]] },    "Set_Bloco2": { "main": [[{ "node": "Merge_By_Position", "type": "main", "index": 1 }]] },    "Merge_By_Position": { "main": [[{ "node": "Consolidar_TR_Final", "type": "main", "index": 0 }]] },    "Consolidar_TR_Final": { "main": [[{ "node": "Responder_Webhook", "type": "main", "index": 0 }]] }  }}